<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <contexts>
      <context type="Poc.Deploy.WriteWinService.DataAccess.EmploymentDataDbContext, Poc.Deploy.WriteWinService">
        <databaseInitializer type="Poc.Deploy.WriteWinService.DataAccess.SeedingDatabaseInitializer, Poc.Deploy.WriteWinService" />
      </context>
    </contexts>
  </entityFramework>
  <connectionStrings configSource="App.connections.config" />
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding>
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Main">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="Main">
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      
      <service behaviorConfiguration="Main" name="Poc.Deploy.WriteWinService.EmploymentCommandsHandleService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8998/command"/>
          </baseAddresses>
        </host>
        <endpoint
          behaviorConfiguration="Main"
          binding="wsHttpBinding"
          contract="Poc.Deploy.WriteWinService.IEmploymentCommandsHandleService"
          address=""/>
        <endpoint address="mex"
                    binding="mexHttpBinding"
                    contract="IMetadataExchange" />
      </service>

      <service behaviorConfiguration="Main" name="Poc.Deploy.WriteWinService.EmploymentQueryHandleService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8998/query"/>
          </baseAddresses>
        </host>
        <endpoint
          behaviorConfiguration="Main"
          binding="wsHttpBinding"
          contract="Poc.Deploy.WriteWinService.IEmploymentQueryHandleService"
          address=""/>
        <endpoint address="mex"
                    binding="mexHttpBinding"
                    contract="IMetadataExchange" />
      </service>
      
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false" />
  </system.serviceModel>
</configuration>